// You can add global styles to this file, and also import other style files

// Add Bootstrap style overrides here
$primary: #026fbd;
// $primary: #ff7043;

@import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/flag-icons/css/flag-icons.min.css";

// Add global app styles here
body {
  margin-bottom: 10px;
  margin-top: 15px;
}

.input-group {
  margin-bottom: 15px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// To get google autocomplete to show in front of the modal
.pac-container {
  background-color: #fff;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}
.modal {
  z-index: 20;
}
.modal-backdrop {
  z-index: 10;
}
