<form class="row g-3" [formGroup]="addResortFormGroup">
    <div class="col-12">
        <label for="resort-name" class="form-label">Resort Name</label>
        <input type="text" class="form-control" #resortName placeholder="Enter a Resort Name">
    </div>
    <div class="col-12">
        <label for="resort-country" class="form-label">Country</label>
        <input type="text" class="form-control" id="resort-country" formControlName="resortCountry">
    </div>
    <div class="col-md-8">
        <label for="resort-city" class="form-label">City</label>
        <input type="text" class="form-control" id="resort-city" formControlName="resortCity">
    </div>
    <div class="col-md-4">
        <label for="resort-state" class="form-label">State</label>
        <select id="resort-state" class="form-select" formControlName="resortState">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
</form>

<!-- <div class="modal fade" id="add-resort-modal" tabindex="-1" aria-labelledby="add-resort-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Add A Resort</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" [formGroup]="addResortFormGroup">
                    <div class="col-12">
                        <label for="resort-name" class="form-label">Resort Name</label>
                        <input type="text" class="form-control" #resortName placeholder="Enter a Resort Name">
                    </div>
                    <div class="col-12">
                        <label for="resort-country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="resort-country" formControlName="resortCountry">
                    </div>
                    <div class="col-md-8">
                        <label for="resort-city" class="form-label">City</label>
                        <input type="text" class="form-control" id="resort-city" formControlName="resortCity">
                    </div>
                    <div class="col-md-4">
                        <label for="resort-state" class="form-label">State</label>
                        <select id="resort-state" class="form-select" formControlName="resortState">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addResort()">Add Resort</button>
            </div>
        </div>
    </div>
</div> -->