<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../../assets/favicon.ico" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            PowderPals
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-supported-content">
            <div class="navbar-nav me-auto">
                <a href="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <i class="fa fa-calendar-plus-o"></i> Start a Trip
                </a>
                <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
                    <i class="fa fa-sign-in"></i> Login
                </a>
                <a routerLink="/register" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
                    <i class="fa fa-user-plus"></i> Register
                </a>
            </div>
        </div>

        <div class="navbar-nav ms-auto">
            <div class="navbar-nav">
                <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
                    <i class="fa fa-lock"></i> Admin
                </a>
                <!-- <a routerLink="/resorts" class="nav-link" routerLinkActive="active"
                    *ngIf="auth.loggedIn && auth.isAdmin">
                    <i class="fa fa-plane"></i> Resorts
                </a> -->
                <!-- <a routerLink="/resorts" class="nav-link" routerLinkActive="active">
                    <i class="fa fa-plane"></i> My Trips (TO DO)
                </a> -->
                <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
                    <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
                </a>
            </div>
        </div>
    </div>
</nav>