<div class="container-fluid">
  <div class="row g-3">
    <form-group [formGroup]="filterFormGroup">
      <input type="text" placeholder="Filter by resort name" class="form-control me-2" formControlName="name">
      <!-- <input type="text" placeholder="Filter by country" class="form-control me-2" formControlName="country"> -->
      <select class="form-select me-2" formControlName="country" placeholder="Filter by Country">
        <option value="">Select Country</option>
        <option value="United States">United States</option>
        <option value="Canada">Canada</option>
        <option value="Japan">Japan</option>
      </select>
    </form-group>
  </div>

  <div class="row g-3">
    <div *ngFor="let resort of resorts" class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card shadow mx-1" (click)="onCardClick(resort._id || '')" tabindex="0"
        (keydown.enter)="onCardClick(resort._id || '')">
        <img [src]="'../../assets/download.jpeg'" alt="{{ resort.name }}" class="card-img-top">

        
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="card-title mb-0" style="font-size: 1rem;">{{resort.name}}</h6>
            <span class="d-flex align-items-center" style="font-size: 1rem;">
              <i class="fa fa-star" style="color: gold;"></i>&nbsp;{{resort.rating}}
            </span>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text" style="font-size: 0.9rem;">{{resort.city}}, {{resort.state}}</p>
            <p [ngSwitch]="resort.country">
              <span *ngSwitchCase="countryEnum.US" style="font-size: 1.25rem; margin:0;">🇺🇸</span>
              <span *ngSwitchCase="countryEnum.CA" style="font-size: 1.25rem; margin:0;">🇨🇦</span>
              <span *ngSwitchCase="countryEnum.JPN" style="font-size: 1.25rem; margin:0;">🇯🇵</span>
              <span *ngSwitchCase="countryEnum.CHN" style="font-size: 1.25rem; margin:0;">🇨🇳</span>
              <span *ngSwitchCase="countryEnum.AUS" style="font-size: 1.25rem; margin:0;">🇦🇺</span>
              <span *ngSwitchCase="countryEnum.NZL" style="font-size: 1.25rem; margin:0;">🇳🇿</span>
            </p>
          </div>

          <hr class="my-1">

          <div class="d-flex justify-content-between">
            <span class="d-flex align-items-center" style="font-size: 1rem;">
              <i class="fa fa-plane"></i>&nbsp;5 trips going here
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="d-flex justify-content-center align-items-center my-3">
      Not seeing your favorite resort?
      <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#add-resort-modal">
        Add a Resort!
      </button>

      <div class="modal fade" id="add-resort-modal" tabindex="-1" aria-labelledby="add-resort-modal-label"
        aria-hidden="true">
        <app-add-resort-dialog></app-add-resort-dialog>
      </div>
    </div>
  </div>
</div>