<div class="container-fluid">

  <div class="d-flex justify-content-end align-items-center my-3">
    Not seeing your favorite resort?
    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#add-resort-modal">
      Add a Resort!
    </button>

    <div class="modal fade" id="add-resort-modal" tabindex="-1" aria-labelledby="add-resort-modal-label"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title">Add A Resort</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-add-resort-form></app-add-resort-form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addResort()">Add Resort</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-start align-items-center my-3">
    <select class="form-select me-2" (change)="filterByContinent($event)" placeholder="Filter by Continent">
      <option value="">Select Continent</option>
      <option value="North America">North America</option>
      <option value="South America">South America</option>
      <option value="Europe">Europe</option>
      <option value="Asia">Asia</option>
      <option value="Africa">Africa</option>
      <option value="Australia">Australia</option>
      <option value="Antarctica">Antarctica</option>
    </select>
    <input type="text" placeholder="Filter by city" class="form-control me-2" (input)="filterByCity($event)">
    <input type="text" placeholder="Filter by country" class="form-control me-2" (input)="filterByCountry($event)">
  </div>

  <div class="row g-3">
    <div *ngFor="let resort of resorts" class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card shadow mx-1">
        <img [src]="resort.image" alt="{{ resort.name }}">

        <!-- Carousel -->
        <!-- <div id="carousel-{{resort.id}}" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let image of resort.images; let i = index"
              [ngClass]="{'carousel-item': true, 'active': i === 0}">
              <img [src]="image" class="d-block w-100" alt="{{ resort.name }}">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" attr.data-bs-target="#carousel-{{resort.id}}"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" attr.data-bs-target="#carousel-{{resort.id}}"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> -->

        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="card-title mb-0" style="font-size: 1rem;">{{resort.name}}</h6>
            <span class="d-flex align-items-center" style="font-size: 1rem;">
              <i class="fa fa-star" style="color: gold;"></i>5
            </span>
          </div>

          <div class="d-flex justify-content-between">
            <p class="card-text" style="font-size: 0.8rem;">Salt Lake City, UT</p>
          </div>

          <div class="d-flex justify-content-between">
            <span class="d-flex align-items-center" style="font-size: 0.8rem;">
              <i class="fa fa-plane"></i>5 trips going here
            </span>
          </div>

          <button class="btn btn-primary">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>