<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">Add A Resort</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" [formGroup]="addResortFormGroup">
                <div class="col-12">
                    <label for="resort-name" class="form-label">Search for a Resort</label>
                    <input type="text" #resortAddress placeholder="Enter a Resort Name" class="form-control">
                </div>
                <div class="col-12">
                    <label for="resort-name" class="form-label">Resort Name</label>
                    <input type="text" class="form-control" id="resort-name" placeholder="Enter a Resort Address"
                        formControlName="name">
                </div>
                <div class="col-12">
                    <label for="resort-address" class="form-label">Resort Address</label>
                    <input type="text" class="form-control" id="resort-address" placeholder="Enter a Resort Address"
                        formControlName="address">
                </div>
                <div class="col-12">
                    <label for="resort-country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="resort-country" formControlName="country">
                </div>
                <div class="col-md-8">
                    <label for="resort-city" class="form-label">City</label>
                    <input type="text" class="form-control" id="resort-city" formControlName="city">
                </div>
                <div class="col-md-4">
                    <label for="resort-state" class="form-label">State</label>
                    <input id="resort-state" class="form-select" formControlName="state" type="text">
                </div>
                <div class="col-md-4">
                    <label for="resort-rating" class="form-label">Rating</label>
                    <input id="resort-rating" class="form-select" formControlName="rating" type="number" max="4"
                        min="0">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addResort()">Add Resort</button>
        </div>
    </div>
</div>