<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current Resorts ({{resorts.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Country</th>
          <th scope="col">Continent</th>
        </tr>
      </thead>
      <tbody *ngIf="resorts.length === 0">
        <tr>
          <td colspan="4">There are no resorts in the DB. Add a new resort below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let resort of resorts">
          <td>{{resort.name}}</td>
          <td>{{resort.city}}</td>
          <td>{{resort.state}}</td>
          <td>{{resort.country}}</td>
          <td>{{resort.continent}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(resort)">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button class="btn btn-sm btn-danger ms-1" (click)="deleteResort(resort)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form #form="ngForm">
              <div class="row row-cols-1 row-cols-sm-auto g-2">
                <div class="col">
                  <input class="form-control" type="text" name="name" [(ngModel)]="resort.name" placeholder="Name"
                    required>
                </div>
                <div class="col">
                  <input class="form-control" type="text" name="city" [(ngModel)]="resort.city" placeholder="City"
                    required>
                </div>
                <div class="col">
                  <input class="form-control" type="text" name="state" [(ngModel)]="resort.state" placeholder="State"
                    required>
                </div>
                <div class="col">
                  <input class="form-control" type="text" name="country" [(ngModel)]="resort.country"
                    placeholder="Country" required>
                </div>
                <div class="col">
                  <input class="form-control" type="text" name="continent" [(ngModel)]="resort.continent"
                    placeholder="Continent" required>
                </div>
              </div>
            </form>
            <div class="col d-flex align-items-center">
              <button class="btn btn-sm btn-primary me-2" [disabled]="!form.form.valid" (click)="editResort(resort)">
                <i class="fa fa-floppy-o"></i> Save
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <app-add-cat-form *ngIf="!isEditing" [cats]="cats"></app-add-cat-form> -->