<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container-fluid">
  <div class="row">
    <!-- COL 1 -->
    <div class="col">
      <div class="card" *ngIf="!isLoading">
        <div class="card-body">
          <!-- <h5 class="card-title">Profile</h5> -->

          <!-- Profile Picture -->
          <div class="image-container rounded">
            <label class="hoverable" for="file-input">
              <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" alt="profile picture"
                class="mx-auto" />
            </label>
            <br />
            <input id="file-input" type="file" [(ngModel)]="url" class="select-profile-picture"
              (change)="onSelectFile($event)" />
            <span class="message">Tap here to select your picture</span>
          </div>
          <br /><button *ngIf="url" (click)="delete()">delete</button>

          <form #accountForm="ngForm">
            <!-- <div class="input-group">
              <label class="hoverable" for="fileInput">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" alt="profile picture"
                  class="mx-auto" />
              </label>
              <br />
              <input id="fileInput" type="file" name="profilePictureURL" [(ngModel)]="url"
                class="select-profile-picture" (change)="onSelectFile($event)" />
              <span class="message">Tap here to select your picture</span>
            </div> -->

            <div class="input-group">
              <textarea class="form-control" type="text" name="bio" [(ngModel)]="user.bio" placeholder="Bio"
                required></textarea>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">&#64;</span>
              <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username"
                [(ngModel)]="user.username" aria-describedby="basic-addon1">
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid" (click)="save(user)">
              <i class="fa fa-save"></i>
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>