<app-toast [message]="toast.message"></app-toast>

<div class="d-flex flex-row" style="width: 100%;">
    <div class="d-flex flex-column align-items-center" style="width: 30%;">
        <div>
            <button class="btn btn-dark" [routerLink]="['/']">
                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back
            </button>
        </div>

        <mat-card style="width: 75%;">
            <mat-calendar [(selected)]="selectedDate" (selectedChange)="onStartDateFilterChanged($event)"></mat-calendar>
        </mat-card>
        <p>Selected date: {{selectedDate}}</p>
    </div>

    <div class="d-flex flex-column" style="width: 70%;">
        <div>
            <mat-form-field>
                <mat-select>
                    <mat-option>
                        Male Only
                    </mat-option>
                    <mat-option>
                        Female Only
                    </mat-option>
                    <mat-option>
                        Other
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngFor="let group of groups" style="margin-bottom: 10px;">
            <app-group [group]="group" [user]="user" (deleteGroupClicked)="onDeleteGroupClicked(group)"></app-group>
        </div>

        <div class="d-flex justify-content-center align-items-center w-100 pt-3">
            <button type="button" class="btn btn-primary rounded-pill btn-lg" (click)="onCreateGroupClicked()">
                Create Group
            </button>
        </div>
    </div>
</div>